@import "tailwindcss";

* {
  margin: 0;
  /* padding: 0; */
  /* box-sizing:border-box; */
}

html {
  background-color: #101114;
}

/* html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
} */


/* ===== custom classes ===== */

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #15171c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222429;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-auth {
  background: rgba(6, 3, 3, 0.711);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-black {
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(37px);
  -webkit-backdrop-filter: blur(37px);
}

.perspective {
  perspective: 1000px;
}

.transform-style-preserve-3d {
  transform-style: preserve-3d;
}

.backface-hidden {
  backface-visibility: hidden;
}

.rotate-y-180 {
  transform: rotateY(180deg);
}

@keyframes shimmer {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shimmer {
  animation: shimmer 1.5s infinite linear;
}

/* Custom dark scrollbars */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: transparent; /* blends with bg */
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2); /* subtle white */
  border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.4);
}



@utility bg-black-1 {
  @apply bg-[#15171c];
}

@utility bg-nav-focus {
  background: linear-gradient(to right, #222429, #15171c);
}


@utility input_class {
    @apply text-16 placeholder:text-16 rounded-[6px] border-none;
  }
  /* bg-black-1 placeholder:text-gray-1 text-gray-1 */

  @utility podcast_grid {
    @apply grid  gap-5 grid-cols-2 sm:grid-cols-3 md:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
   @utility right_sidebar {
    @apply sticky right-0 top-0 flex w-[310px] flex-col overflow-y-hidden border-none px-[30px] pt-8 max-lg:hidden; /*  bg-black-1 */  
  }

  @utility left_sidebar {
    @apply sticky left-0 top-0 flex w-[310px] flex-col  justify-between  border-none py-[20px] max-md:hidden lg:w-[270px]; /*  bg-black-1 text-white-1 */  
  }

  /* @utility generate_thumbnail {
    @apply mt-[30px] flex w-full max-w-[520px] flex-col justify-between gap-2 rounded-lg border px-2.5 py-2 md:flex-row md:gap-0; /*  bg-black-1 */  
  /* }  */
   @utility image_div {
    @apply flex-center !mt-[30px] h-[142px] w-full cursor-pointer flex-col gap-3 rounded-xl border-[3.2px] border-dashed; /*  bg-black-1 */  
  }
  @utility carousel_box {
    @apply relative flex h-fit aspect-square w-full flex-none cursor-pointer flex-col justify-end rounded-xl border-none;
  }
  @utility button_bold-16 {
    @apply text-[16px] font-bold transition-all duration-500; /*  text-white-1 */ 
  }
  @utility flex-center {
    @apply flex items-center justify-center;
  }
  @utility text-12 {
    @apply text-[12px] leading-normal;
  }
  @utility text-14 {
    @apply text-[14px] leading-normal;
  }
  @utility text-16 {
    @apply text-[16px] leading-normal;
  }
  @utility text-18 {
    @apply text-[18px] leading-normal;
  }
  @utility text-20 {
    @apply text-[20px] leading-normal;
  }
  @utility text-24 {
    @apply text-[24px] leading-normal;
  }
  @utility text-32 {
    @apply text-[32px] leading-normal;
  }

  .cl-userButtonPopoverActionButton{
    color: white;
    transition: color 0.3s ease;
  }

  .cl-userButtonPopoverActionButton:hover{
    color: #f97316;

  }

  .cl-userButtonPopoverCard{
    background-color: #f97316;
  }
